@page "/CreatePost"
@using HttpClients.ClientInterfaces
@using UIComponents
@using Domain.DTOs
@inject IUserService userService
@inject IPostService postService
@inject NavigationManager navMgr
@using System.Security.Claims
<h3>CreatePost</h3>

@if (isLoggedIn)
{
}
else
{
    <p>You are not logged in.</p>
}

@code {
    
    [CascadingParameter]
    public Task<AuthenticationState> AuthState { get; set; } = null!;
    
    private string? selectedUserName;
    private string postTitle = "";
    private string postContent = "";
    private bool isLoggedIn;
    private IEnumerable<Claim>? userClaims;

    private string msg = "";

    protected override async Task OnInitializedAsync()
    {
        AuthenticationState authState = await AuthState;
        ClaimsPrincipal user = authState.User;
        isLoggedIn = user.Identity != null;
        
        if (!isLoggedIn) return;
        
        userClaims = user.Claims;
        selectedUserName = user.Identity!.Name;
    }

    private async Task Create()
    {
        msg = "";
        if (selectedUserName == null)
        {
            msg = "You must be signed in!";
            return;
        } 
        if (string.IsNullOrEmpty(postTitle))
        {
            msg = "Title cannot be empty!";
            return;
        }
        
        if (string.IsNullOrEmpty(postContent))
        {
            msg = "Content cannot be empty!";
            return;
        }
        

        try
        {
            PostCreationDTO dto = new(selectedUserName, postTitle,postContent);
            await postService.CreateAsync(dto);
            showModal = true;
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    private bool showModal;

    private void Proceed()
    {
        showModal = false;
        navMgr.NavigateTo("/ViewPosts");
    }
}

<div class="card">
    <div class="form-group field">
        <label>Title:</label>
        <input type="text" @bind="postTitle"/>
    </div>
    <div class="form-group field">
        <label>Content:</label>
        <input type="text" @bind="postContent"/>
    </div>
        
    <div class="button-row">
        @if (!string.IsNullOrEmpty(msg))
        {
            <label style="color: red">@msg</label>
        }
        <button @onclick="Create" class="acceptbtn">Create</button>
    </div>
</div>
<Modal ShowModal="showModal">
    <p>Post was Posted :)</p>
    <button @onclick="@Proceed">Wonderful</button>
</Modal>