@page "/ViewPosts"
@using Domain
@using HttpClients.ClientInterfaces
@inject IPostService postService
<h3>ViewPosts</h3>


@code {
    private IEnumerable<Post>? posts;
    private string msg = "";

    private async Task LoadPosts()
    {
        try
        {
            posts = await postService.GetAsync(null, null, null, null);
        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            msg = e.Message;
        }
    }
    
}
<div>
    <button @onclick="LoadPosts">Load</button>
</div>

@if (posts == null)
{
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Title</th>
            <th>Content</th>
            <th>Username</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in posts)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Content</td>
                <td>@item.Owner.UserName</td>
                
            </tr>
        }
        </tbody>
    </table>
}
@if (!string.IsNullOrEmpty(msg))
{
    <label style="color: red">@msg</label>
}